<%-include('../partials/header', {page_title:"Question Details"})-%>

    <div class="jumbotron">
        <h1 class="lead"><%= users["name"] %></h1>
    </div>

	<% Object.keys(users).forEach(function(key){ %>
		<% if(key!='comments'&key!='commentLikes'&key!="questionLikes"){ %>
			<h3><%= key %>: <%= users[key] %></h3>
		<% }  %>
	<% }); %>
	<a href="/users">Return to List</a>
  <a href="/user/<%=userID%>/edit">Edit User</a>

  <%-include('../partials/footer')-%>
