<%-include('../partials/header', {page_title:"Question Details"})-%>

    <div class="jumbotron">
        <h1 class="lead"><%= questions["question"] %></h1>
    </div>

	<% Object.keys(questions).forEach(function(key){ %>
		<% if(key!='comments'&key!='likes'&key!='id'&key!='keywords'){ %>
			<h3><%= key %>: <%= questions[key] %></h3>

  <%}else if (key == 'id') {%>
      <% console.log("this id " + questions[key]); %>
      <h3 id="id"> id: <%= questions[key] %></h3>
    <%} %>

	<% }); %>
  <script src="/js/questiondetails_scripts.js"></script>
	<a href="/questions">Return to List</a>
  <a href="/question/<%=questions["id"]%>/edit">Edit Question</a>

  <%-include('../partials/footer')-%>
