<%-include('../partials/header', {page_title:"Question Details"})-%>

    <div class="jumbotron">
        <h1 class="lead"><%= questions["question"] %></h1>
    </div>

  <h3>Answer: <%= questions["answer"] %></h3>
  <h3>Category: <%= questions["category"] %></h3>
  <h3>Difficulty: <%= questions["difficulty"] %></h3>
  <h4>Creation date: <%= questions["creationDate"] %></h4>
  <h4>AuthorID: <%= questions["authorID"] %></h4>
  <h4>ID: <%= questions["id"] %></h4>

  <script src="/js/questiondetails_scripts.js"></script>
	<a href="/questions">Return to List</a>
  <a href="/question/<%=questions["id"]%>/edit">Edit Question</a>

  <%-include('../partials/footer')-%>
