<%-include('../partials/header', {page_title:"All Questions"})-%>
<div class="jumbotron">
    <h1>Welcome to the Jeopardy Source!</h1>
    <p class="lead">How much trivia do YOU know?</p>
</div>

<div class="row">
<% Object.keys(questions).forEach(function(key, i){ %>
	<div class="col-md-4">
	<img src="images/jeopardy.jpg" width ="50%"></img>
	<h3><a href="/question/<%= key %>" id="<%= key %>"> <%= questions[key].question %></a></h3>
	<form action="/question/<%= key %>?_method=DELETE" method="POST">
	  <button>Delete Question</button>
	</form>
	</div> 
    <%if ((i+1)%3==0 && i!=0){ %>
       </div> <!-- end the row div-->
           <div class="row">
        <% } %>

	<% }) %>
    </div> <!--last row -->
    <br>
<h2> Want to add a new question to the The Jeopardy Source?</h2>
<form action="/question/create" method="GET">
	<input type="text" name= "title" placeholder="Enter title to add...">
	<button>Search for Question</button>
</form>

<%-include('../partials/footer')-%>
